#message
  - if (law.closed)
    - if (law.closeMessage)
      h4=t('proposal.final-message.title')
      p=law.closeMessage
    - else if (citizen.official)
      h4=t('proposal.final-message.title')
      form.message-form(method='post', action='/api/law/#{law.id}/message', autovalidate='autovalidate', autosubmit='autosubmit')
        p
          =t('proposal.final-message.explanation')
          textarea(name='message', rows=4)
        .actions
          input.btn.btn-primary.pull-right(type='submit', value=t('proposal.final-message.submit'))
